#Â sktime user testing

For help, see tutorial notebooks in our [example folder](https://github.com/alan-turing-institute/sktime/tree/dev/examples).

### 1. Convert data from long format to required nested pandas DataFrame

In [1]:
import numpy as np
import pandas as pd

def generate_example_long_table(num_cases=50, series_len=20, num_dims=2):
    rows_per_case = series_len*num_dims
    total_rows = num_cases*series_len*num_dims

    case_ids = np.empty(total_rows, dtype=np.int)
    idxs = np.empty(total_rows, dtype=np.int)
    dims = np.empty(total_rows, dtype=np.int)
    vals = np.random.rand(total_rows)

    for i in range(total_rows):
        case_ids[i] = int(i/rows_per_case)
        rem = i%rows_per_case
        dims[i] = int(rem/series_len)
        idxs[i] = rem%series_len

    df = pd.DataFrame()
    df['case_id'] = pd.Series(case_ids)
    df['dim_id'] = pd.Series(dims)
    df['reading_id'] = pd.Series(idxs)
    df['value'] = pd.Series(vals)
    return df

In [2]:
long = generate_example_long_table()
long.head()

   case_id  dim_id  reading_id     value
0        0       0           0  0.866375
1        0       0           1  0.008788
2        0       0           2  0.484981
3        0       0           3  0.769360
4        0       0           4  0.219828

In [4]:
# now convert the long dataframe to the nested wide format

### 2. Run classifiers on the GunPoint dataset

In [7]:
from sktime.datasets import load_gunpoint
X_train, y_train = load_gunpoint(split='TRAIN', return_X_y=True)
X_test, y_test = load_gunpoint(split='TEST', return_X_y=True)
X_train.head()

                                               dim_0
0  0     -0.64789
1     -0.64199
2     -0.63819
3...
1  0     -0.64443
1     -0.64540
2     -0.64706
3...
2  0     -0.77835
1     -0.77828
2     -0.77715
3...
3  0     -0.75006
1     -0.74810
2     -0.74616
3...
4  0     -0.59954
1     -0.59742
2     -0.59927
3...

In [9]:
# now pick one of the classifiers available in sktime and run it on the dataset

### 3. Compare multiple classifiers using the sktime orchestration functionality

In [10]:
from sktime.experiments import orchestrator